body {
  font-family: $primary-font;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
p {
  margin: 0px;
  padding: 0px;
  color: $body-text-color;
}
* {
  font-family: $primary-font;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 90px;
  font-weight: 900;
  color: $secondery-dark-color;
  @include respond-to("large") {
    font-size: 56px;
    line-height: 70px;
  }
  @include respond-to("small") {
    font-size: 29px;
    line-height: 40px;
  }
}
h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: $secondery-dark-color;

  // @include respond-to("small") {
  //   font-size: 40px;
  //   line-height: 48px;
  // }
}

h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: $secondery-dark-color;

  // @include respond-to("small") {
  //   font-size: 40px;
  //   line-height: 48px;
  // }
}
h5 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: $secondery-dark-color;

  // @include respond-to("small") {
  //   font-size: 40px;
  //   line-height: 48px;
  // }
}
h6 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: $secondery-dark-color;

  // @include respond-to("small") {
  //   font-size: 40px;
  //   line-height: 48px;
  // }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.content-wrapper {
  max-width: 1320px;
  margin: 0 auto;
}
ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
