$primary-font: "Urbanist", sans-serif;
$secondery-inter-font: "Inter", sans-serif;
$rubik-font: "Rubik", sans-serif;

$secondery-dark-color: rgba(29, 33, 79, 1);
$secondery-color-blue: rgba(82, 95, 225, 1);
$primary-color: rgba(248, 111, 3, 1);
$primary-light-color: rgba(254, 241, 230, 1);
$body-text-color: rgba(74, 83, 85, 1);
$white-color: rgba(255, 255, 255, 1);
$icon-bg-color: rgba(136, 144, 233, 1);
$border-color: rgba(204, 204, 204, 1);
$box-shadow: 2px 2px 43px rgba(0, 0, 0, 0.12);
$menu-hover-color: rgba(8, 17, 50, 1);
